[project]
	description = Device tree for Samsung Galaxy Core Prime SM-G360H
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nikit Sharma (nikitsharma15)
[access "refs/for/refs/*"]
	read = group user/Nikit Sharma (nikitsharma15)
	push = group user/Nikit Sharma (nikitsharma15)
	label-Code-Review = -2..+2 group user/Nikit Sharma (nikitsharma15)
	label-Verified = -1..+1 group user/Nikit Sharma (nikitsharma15)
	rebase = group user/Nikit Sharma (nikitsharma15)
	removeReviewer = group user/Nikit Sharma (nikitsharma15)
	submit = group user/Nikit Sharma (nikitsharma15)
[access "refs/heads/*"]
	read = group user/Nikit Sharma (nikitsharma15)
	create = group user/Nikit Sharma (nikitsharma15)
	push = +force group user/Nikit Sharma (nikitsharma15)
	pushMerge = group user/Nikit Sharma (nikitsharma15)
[access "refs/tags/*"]
	push = group user/Nikit Sharma (nikitsharma15)
	push = +force group user/Nikit Sharma (nikitsharma15)
